<h2>Ajouter une tache</h2>
<p id="error"></p>
    <div>
      <label id="paf">Nom</label>
      <br>
      <input id="Name" placeholder="Entrer un nom" />
      <br>
      <br>
      <label>Description</label>
      <br>
      <input id="Description" placeholder="Entrer une description" />
      <br>
      <br>
      <label>Date échéance</label>
      <br>
      <input type="date" id="Date" />
      <br>
      <br>
      <button id="saveButton" class="btn btn-primary ml-2">Save</button>
    </div>
